@charset "utf-8";
/* CSS Document */

#divContenedor {
	width:1000px;
	height:643px;
	margin:0 auto;
	background-color: #CEF6F5;
}
#divEncabezado {
	
	left:25px;
	top:25px;
	width:981px;
	height:82px;
	z-index:2;
	background-color: #A9BCF5;
	color: #E6E6E6;
}
#divMenu {
     
	animation: nombre 0.5s infinite;
	left:27px;
	top:117px;
	width:981px;
	height:43px;
	z-index:3;
	/*background:#CCF*/
}

#divContenido {
	
	left:29px;
	top:170px;
	width:981px;
	height:350px;
	z-index:4;
	overflow:auto
	 
}
#divPiePagina {
	
	left:29px;
	top:543px;
	width:981px;
	height:86px;
	z-index:5;
	background-color: #A9BCF5;
	color: #E6E6E6;
}

.texto {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
}





